<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/main.css">
    <link rel="stylesheet" href="/bootstrap/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  </head>
  <body ng-controller="MyController">
    <div id="wrapper">
      <!-- Header-->
      <header id="header">
        <div class="logo"><span class="icon fa-calendar"></span></div>
        <div class="content">
          <div class="inner">
            <h1>Planner</h1>
            <p>Plan Your Perfect Day</p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/planner">Planner</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
      </header>
      <body>
        
           <h2>
             <br>
             How to use the Day Planner
             
           </h2>
            
             <h4> Do you have something to plan? </h4>
            <br>
            <br>

          
            
           <!-- First Parallax Image-->
           <br>
           <br>
           
              <div class="bgimg-1">
                
              </div>
              <br>
              
                          <h4> If so, that's wonderful, keep scrolling please. </h4>

              <br>
              <br>
              
               <div class="bgimg-2">
                
              </div>
              <p>
              <h2>You've come to the right place, here the fellow unixcorns will help you plan your perfect day!</h2>
              </p>
              <br>
              
              <div>
                <h4>
                  What would best be recommended to do is to first sign up for an account <br>
                  so that you may save your events and suscribe to our weekly updates for local <br>
                  events nearby you! 
                  <br>
                  Once you have signed up, you can go to the planner tab and within, <br>
                  please choose your options as to what kind of plans you woud like to make. <br>
                  <br>
                  Further more, once you have filled out the form we have provided you and submitted it, <br>
                  we will provide as much information as we possibly can about any nearby events that fit your choices. <br>

                </h4>
                
                
                <h4> Unixcorn would like to thank you with all of our tears for working with us. <br>
                We hope you have a very lovely day. 
                </h4>
              </div>
             
              <br>
              <br>

              <div class="bgimg-3">
                
              </div>
              <br>
              <br>
              <br>
              
                          

      </body>
       <!-- Footer-->
      <footer id="footer">
        <p class="copyright">© Unixcorn. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>
    </div>
    <!-- BG-->
    <div id="bg"></div>
    <!-- Scripts-->
    <!--/node_modules/angular/angular.min.js-->
    <script src="/bootstrap/js/skel.min.js"></script>
    <script src="/bootstrap/js/util.js"></script>
    <script src="/bootstrap/js/main.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular/plannerApp.js"></script>
  </body>
  <!--   style.body{background-image: url(/public/bootstrap/images/overlay.png);}-->
</html>